@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
}

main {
  width: 100%;
  padding-bottom: 50px;
}

@media (min-width: 750px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-height: 90vh;
    padding: 5rem 7rem;
    gap: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
}

img {
  max-width: 100%;
  max-height: 600px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (min-width: 750px) {
  .header {
    padding-inline: 2rem;
  }
}

@media (min-width: 750px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
    margin-right: 3rem;
  }
}

.header__button {
  z-index: 1000;
  background-image: url("images/icon-menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 40px;
  background-position-x: right;
}

@media (min-width: 750px) {
  .header__button {
    display: none;
  }
}

.header__button[aria-expanded="true"] {
  background-image: url("images/icon-close-menu.svg");
}

.nav {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  width: 65vw;
  height: 100vh;
  padding: 22.5% 1rem 0 1rem;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform ease-out 500ms;
  transition: -webkit-transform ease-out 500ms;
  transition: transform ease-out 500ms;
  transition: transform ease-out 500ms, -webkit-transform ease-out 500ms;
}

@media (min-width: 750px) {
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: static;
    height: auto;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav[data-visible="true"] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav a {
  color: dimgray;
}

.nav__site-links {
  list-style: none;
  margin-bottom: 2rem;
}

.nav__site-links__dropdown-links::after {
  content: "";
  background-image: url("images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  vertical-align: -5px;
  aspect-ratio: 1/1;
}

.nav__site-links__dropdown-links[aria-expanded="true"]::after {
  background-image: url("images/icon-arrow-up.svg");
}

@media (min-width: 750px) {
  .nav__site-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 55px;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__site-links li {
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .nav__site-links li {
    margin: 0;
  }
}

.nav__user-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.nav__user-links > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__user-links > li > a {
  width: 100%;
  text-align: center;
}

@media (min-width: 750px) {
  .nav__user-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 55px;
  }
}

.nav[data-visible="true"] + .nav__burger-bg {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.nav__burger-bg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #141414ad;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.first-section {
  margin-bottom: 2rem;
}

@media (min-width: 750px) {
  .first-section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

h2 {
  font-weight: 700;
  font-family: Helvetica;
  font-size: 35px;
  text-align: center;
}

@media (min-width: 750px) {
  h2 {
    font-size: 4rem;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    text-align: left;
    white-space: pre-line;
  }
}

@media (min-width: 750px) {
  .second-section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

.second-section__hero {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .second-section__hero {
    gap: 3rem;
    margin-bottom: 4rem;
  }
}

.second-section__paragraph {
  color: dimgray;
  padding-inline: 10px;
}

.second-section__button {
  background-color: #141414;
  color: #fafafa;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #141414;
}

.second-section__button:hover {
  background-color: #fafafa;
  border: 1px solid #141414;
}

.second-section__button:hover a {
  color: #141414;
}

.second-section__button a {
  color: white;
}

@media (min-width: 750px) {
  .second-section__button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-left: 10px;
  }
}

.second-section__icons-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 0.5rem;
}

@media (min-width: 750px) {
  .second-section__icons-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 2rem;
    max-width: 90%;
  }
}

.second-section__icons-list img {
  max-height: 30px;
  max-width: 75px;
}

@media (min-width: 750px) {
  .second-section__icons-list img {
    max-height: 40px;
    max-width: 85px;
  }
}

.btn-outline {
  border: 2px solid dimgray;
  padding: 0.5rem 0.5rem;
  border-radius: 11px;
}

@media (min-width: 750px) {
  .btn-outline {
    padding: 0.25rem 0.5rem;
  }
}

.btn-outline:hover {
  background-color: dimgray;
  color: #fafafa;
}

.dropdown {
  list-style: none;
  padding-left: 2rem;
}

.dropdown[data-visible="false"] {
  display: none;
}

.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.dropdown img {
  width: 20px;
}

@media (min-width: 750px) {
  .dropdown {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 40px;
    -webkit-box-shadow: 3px 3px 10px #00000047;
            box-shadow: 3px 3px 10px #00000047;
  }
  .dropdown a {
    font-size: 13px;
  }
  .dropdown img {
    width: 15px;
  }
  .dropdown.feature {
    left: -35px;
  }
  .dropdown.company {
    left: 160px;
  }
}
/*# sourceMappingURL=style.css.map */